In [5]:
# Preanalisis jc
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df1 = pd.read_csv("df_final_web_data_pt_1.txt")
df2 = pd.read_csv("df_final_web_data_pt_2.txt")

df = pd.concat([df1, df2], ignore_index=True)

In [6]:
df.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [7]:
df.tail()

,client_id,visitor_id,visit_id,process_step,date_time
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [8]:
df.shape

(755405, 5)

In [9]:
df.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [10]:
df.isnull().sum().sort_values(ascending=False)

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [11]:
df.duplicated().sum()

np.int64(10764)

In [12]:
df.select_dtypes(include="object").nunique().sort_values()

process_step         5
visitor_id      130236
visit_id        158095
date_time       629363
dtype: int64

In [13]:
# Conversión de date_time a formato datetime

df["date_time"] = pd.to_datetime(df["date_time"], errors="coerce")
df["date_time"].isna().sum(), df["date_time"].min(), df["date_time"].max()

(np.int64(0),
 Timestamp('2017-03-15 00:03:03'),
 Timestamp('2017-06-20 23:59:57'))

In [14]:
# Normalización de etiquetas de process_step

df["process_step"] = df["process_step"].astype(str).str.strip().str.lower()
df["process_step"].value_counts()

process_step
start      243945
step_1     163193
step_2     133062
step_3     112242
confirm    102963
Name: count, dtype: int64

In [15]:
df.to_csv("df_web_events_final.csv", index=False)