In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

df_perfil_clientes = pd.read_csv('df_final_demo.txt')

In [3]:
df_perfil_clientes.shape

(70609, 9)

In [4]:
df_perfil_clientes.columns

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

### Diccionario de variables – df_final_demo

- client_id: identificador único del cliente
- clnt_tenure_yr: antigüedad del cliente en años
- clnt_tenure_mnth: antigüedad del cliente en meses
- clnt_age: edad del cliente
- gendr: género del cliente
- num_accts: número de cuentas asociadas al cliente
- bal: balance total del cliente
- calls_6_mnth: llamadas al call center en los últimos 6 meses
- logons_6_mnth: número de accesos digitales en los últimos 6 meses

In [5]:
#Renombramos columnas para mejorar la comprension de lo que implica cada una de ellas y trabajar con nombres mas cortos y faciles de escribir

In [6]:
df_perfil_clientes = df_perfil_clientes.rename(columns={
    'clnt_tenure_yr': 'tenure_years',
    'clnt_tenure_mnth': 'tenure_months',
    'clnt_age': 'age',
    'gendr': 'gender',
    'num_accts': 'num_accounts',
    'bal': 'balance',
    'calls_6_mnth': 'calls_last_6_months',
    'logons_6_mnth': 'logins_last_6_months'
})

In [7]:
df_perfil_clientes.columns

Index(['client_id', 'tenure_years', 'tenure_months', 'age', 'gender',
       'num_accounts', 'balance', 'calls_last_6_months',
       'logins_last_6_months'],
      dtype='object')

In [8]:
df_perfil_clientes.head(10)

,client_id,tenure_years,tenure_months,age,gender,num_accounts,balance,calls_last_6_months,logins_last_6_months
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
5,3727881,5.0,71.0,30.5,U,2.0,23915.60,0.0,3.0
6,272934,5.0,66.0,58.5,U,2.0,27021.42,2.0,5.0
7,388801,30.0,361.0,57.5,M,5.0,522498.72,1.0,4.0
8,285619,30.0,369.0,67.5,M,2.0,299388.72,3.0,6.0
9,8198645,15.0,189.0,54.5,F,2.0,382303.83,6.0,9.0

In [9]:
#Eliminamos la columna tenue_years, ya que es redundante con la columna tenure_months, que creemos que servirá más al análisis, siendo más intuitivo y práctico trabajar con meses que con años, ya que la mayoría de los clientes tienen una antigüedad menor a 5 años, lo que se traduce en menos de 60 meses, por lo que la columna tenure_months nos dará una mejor perspectiva de la antigüedad de los clientes.

In [10]:
df_perfil_clientes = df_perfil_clientes.drop(columns=['tenure_years'])

In [11]:
df_perfil_clientes.columns

Index(['client_id', 'tenure_months', 'age', 'gender', 'num_accounts',
       'balance', 'calls_last_6_months', 'logins_last_6_months'],
      dtype='object')

In [12]:
#Verificación de la variable 'gender' para asegurarnos de que no haya valores atípicos o errores de tipeo, ya que es una variable categórica que solo debería contener

In [13]:
df_perfil_clientes['gender'].value_counts(dropna=False)

gender
U      24122
M      23724
F      22746
NaN       14
X          3
Name: count, dtype: int64

In [14]:
df_perfil_clientes['gender'] = (
    df_perfil_clientes['gender']
    .str.strip()
    .str.upper()
    .replace({
        'M': 'Male',
        'F': 'Female',
        'U': 'Unknown',
        'NaN' : 'Unknown',
        ' NaN' : 'Unknown',
        'NaN ' : 'Unknown',
        'X': 'Unknown'
    })
)

In [15]:
df_perfil_clientes['gender'] = df_perfil_clientes['gender'].fillna('UNKNOWN')
df_perfil_clientes['gender'].value_counts(dropna=False)

gender
Unknown    24125
Male       23724
Female     22746
UNKNOWN       14
Name: count, dtype: int64

In [16]:
#Análisis de la variable 'age' para detectar posibles valores atípicos o errores de tipeo, ya que es una variable numérica que debería contener valores dentro de un rango razonable para la edad de los clientes.

In [17]:
df_perfil_clientes['age'].describe()

count    70594.000000
mean        46.442240
std         15.591273
min         13.500000
25%         32.500000
50%         47.000000
75%         59.000000
max         96.000000
Name: age, dtype: float64

In [18]:
df_perfil_clientes['age'].isna().sum()

np.int64(15)

In [19]:
df_perfil_clientes.sort_values('age').head(10)

,client_id,tenure_months,age,gender,num_accounts,balance,calls_last_6_months,logins_last_6_months
70216,5417612,59.0,13.5,Unknown,2.0,24435.08,7.0,7.0
67700,6250331,59.0,14.0,Unknown,2.0,19945.35,3.0,3.0
58281,3677152,273.0,14.0,Female,2.0,16989.14,1.0,1.0
51837,4226013,65.0,14.5,Unknown,3.0,32835.33,5.0,5.0
63598,49451,178.0,14.5,Male,2.0,15487.91,2.0,2.0
69872,64420,66.0,14.5,Unknown,2.0,18408.77,3.0,3.0
52964,6366070,57.0,14.5,Unknown,2.0,47145.86,2.0,2.0
60536,1517553,60.0,14.5,Unknown,2.0,18343.62,5.0,5.0
55898,6269889,58.0,14.5,Unknown,2.0,20315.11,6.0,6.0
69648,5817398,68.0,14.5,Unknown,3.0,73762.45,1.0,1.0

In [20]:
df_perfil_clientes.sort_values('age', ascending=False).head(10)

,client_id,tenure_months,age,gender,num_accounts,balance,calls_last_6_months,logins_last_6_months
31168,2859040,288.0,96.0,Male,2.0,36297.66,6.0,9.0
1851,9206649,78.0,96.0,Unknown,2.0,94240.29,1.0,4.0
6101,134282,153.0,95.5,Female,2.0,43471.96,3.0,6.0
4400,8200585,186.0,94.5,Unknown,2.0,108825.59,4.0,7.0
39975,2369831,171.0,94.0,Unknown,2.0,174410.49,0.0,3.0
19985,5741247,85.0,94.0,Unknown,2.0,950793.99,4.0,7.0
21559,1501913,60.0,94.0,Unknown,2.0,58162.77,2.0,5.0
35869,5890936,347.0,93.5,Male,3.0,1364856.21,6.0,9.0
44245,1245799,172.0,93.5,Unknown,2.0,51658.04,0.0,3.0
10631,783521,125.0,93.5,Female,2.0,1201642.60,2.0,5.0

In [21]:
#Se observa casos que hay menores de edad, tratándose de un grupo de inversión, con lo cual se procede a categorizar a esos clientes como "<18" para diferenciarlos del resto de los clientes, ya que no es posible que tengan una edad negativa o cero, lo cual es un error de tipeo o un valor atípico.

In [22]:
df_perfil_clientes.loc[
    df_perfil_clientes['age'] < 18,
    'age'
] = pd.NA

In [23]:
df_perfil_clientes['age_group'] = pd.cut(
    df_perfil_clientes['age'],
    bins=[18, 30, 45, 60, 75, 100],
    labels=['18–29', '30–44', '45–59', '60–74', '75+'],
    right=False
)

In [24]:
df_perfil_clientes['age_group'].value_counts(dropna=False)

age_group
45–59    21997
30–44    19079
60–74    14427
18–29    12925
75+       1792
NaN        389
Name: count, dtype: int64

In [25]:
df_perfil_clientes = df_perfil_clientes.rename(columns={
    'age': 'age_group'
})

In [26]:
df_perfil_clientes.columns

Index(['client_id', 'tenure_months', 'age_group', 'gender', 'num_accounts',
       'balance', 'calls_last_6_months', 'logins_last_6_months', 'age_group'],
      dtype='object')

In [27]:
#Luego de analizar y modificar el nombre de la variable 'age' a 'age_group', procecemos a analizar 'balance' para detectar posibles valores atípicos o errores de tipeo, ya que es una variable numérica que debería contener valores dentro de un rango razonable para el saldo de los clientes.

In [28]:
df_perfil_clientes['balance'].isna().sum()

np.int64(14)

In [29]:
df_perfil_clientes['balance'].describe()

count    7.059500e+04
mean     1.474452e+05
std      3.015087e+05
min      1.378942e+04
25%      3.734683e+04
50%      6.333290e+04
75%      1.375449e+05
max      1.632004e+07
Name: balance, dtype: float64

In [30]:
df_perfil_clientes.sort_values('balance').head(10)

,client_id,tenure_months,age_group,gender,num_accounts,balance,calls_last_6_months,logins_last_6_months,age_group
57006,9020160,108.0,63.0,Female,1.0,13789.42,2.0,2.0,60–74
55126,989035,184.0,41.0,Male,2.0,13791.34,1.0,1.0,30–44
61826,3280109,185.0,59.0,Female,2.0,13791.80,7.0,7.0,45–59
66292,9862353,205.0,59.0,Male,2.0,13792.98,7.0,7.0,45–59
53141,2210130,105.0,18.0,Male,2.0,13793.69,3.0,3.0,18–29
58240,1858406,183.0,56.0,Unknown,2.0,13793.83,4.0,4.0,45–59
54106,7260867,105.0,57.5,Female,2.0,13793.92,7.0,7.0,45–59
66572,1307770,109.0,45.5,Female,2.0,13794.22,1.0,1.0,45–59
64841,7108325,155.0,54.0,Female,2.0,13799.45,3.0,3.0,45–59
51734,4020279,82.0,26.5,Male,2.0,13800.26,6.0,6.0,18–29

In [31]:
df_perfil_clientes.sort_values('balance', ascending=False).head(10)

,client_id,tenure_months,age_group,gender,num_accounts,balance,calls_last_6_months,logins_last_6_months,age_group
39367,9286288,254.0,62.5,Male,3.0,16320040.15,6.0,9.0,60–74
63746,8339240,80.0,26.5,Male,2.0,12838418.01,3.0,3.0,18–29
23849,7070097,133.0,53.0,Male,2.0,8986419.77,6.0,9.0,45–59
13318,9440656,94.0,63.0,Female,2.0,8292996.21,6.0,9.0,60–74
2171,2291985,85.0,41.0,Male,2.0,8247729.97,1.0,4.0,30–44
20871,1678193,299.0,65.5,Male,3.0,8137343.24,6.0,9.0,60–74
31811,6762377,193.0,41.5,Female,3.0,8045102.60,6.0,9.0,30–44
14057,3519657,218.0,66.5,Male,6.0,7741994.01,6.0,9.0,60–74
21184,987970,179.0,74.5,Male,3.0,7339443.17,4.0,9.0,60–74
33222,857273,376.0,56.5,Male,5.0,6716305.28,6.0,9.0,45–59

In [32]:
#Verificamos que haya clientes con saldo negativo o sin activos.

In [33]:
(df_perfil_clientes['balance'] < 0).sum()

np.int64(0)

In [34]:
(df_perfil_clientes['balance'] == 0).sum()

np.int64(0)

In [35]:
#“Dado que la variable balance presenta una distribución muy asimétrica, se aplicó una transformación logarítmica para facilitar la visualización y comparación entre grupos, manteniendo intacta la información relativa.”

In [36]:
df_perfil_clientes['balance_log'] = np.log1p(df_perfil_clientes['balance'])

In [37]:
df_perfil_clientes['balance'].describe()
df_perfil_clientes['balance'].describe().apply(lambda x: f"{x:,.0f}")

count        70,595
mean        147,445
std         301,509
min          13,789
25%          37,347
50%          63,333
75%         137,545
max      16,320,040
Name: balance, dtype: object

In [38]:
#Análisis de la variable 'logins_last_6_months' para detectar posibles valores atípicos o errores de tipeo, ya que es una variable numérica que debería contener valores dentro de un rango razonable para la cantidad de logins en los últimos 6 meses.

In [39]:
df_perfil_clientes['logins_last_6_months'].describe()

count    70595.000000
mean         5.566740
std          2.353286
min          1.000000
25%          4.000000
50%          5.000000
75%          7.000000
max          9.000000
Name: logins_last_6_months, dtype: float64

In [40]:
df_perfil_clientes['logins_last_6_months'].isna().sum()

np.int64(14)

In [41]:
df_perfil_clientes.sort_values('logins_last_6_months').head(10)

,client_id,tenure_months,age_group,gender,num_accounts,balance,calls_last_6_months,logins_last_6_months,age_group,balance_log
60676,8449906,261.0,23.5,Male,2.0,39892.08,1.0,1.0,18–29,10.593958
63267,9846441,110.0,58.5,Male,2.0,29248.88,1.0,1.0,45–59,10.283631
65176,1229941,117.0,31.0,Male,2.0,73720.01,1.0,1.0,30–44,11.208043
52258,6058267,246.0,54.5,Female,2.0,23898.01,1.0,1.0,45–59,10.081592
68336,4971846,121.0,46.0,Female,2.0,53331.59,1.0,1.0,45–59,10.884303
60706,2010544,226.0,49.5,Male,3.0,65231.90,1.0,1.0,45–59,11.085719
59556,1142401,172.0,30.5,Male,2.0,50761.74,1.0,1.0,30–44,10.834918
57048,5503671,69.0,36.0,Unknown,2.0,21714.49,1.0,1.0,30–44,9.985781
53062,5408789,165.0,38.5,Female,3.0,44067.66,1.0,1.0,30–44,10.693504
57050,7005,155.0,48.5,Male,2.0,24287.54,1.0,1.0,45–59,10.097760

In [42]:
df_perfil_clientes.sort_values('logins_last_6_months', ascending=False).head(10)

,client_id,tenure_months,age_group,gender,num_accounts,balance,calls_last_6_months,logins_last_6_months,age_group,balance_log
0,836976,73.0,60.5,Unknown,2.0,45105.30,6.0,9.0,60–74,10.716777
9866,2806047,193.0,37.5,Female,2.0,77045.13,6.0,9.0,30–44,11.252160
9849,9788883,275.0,64.0,Female,2.0,98833.06,6.0,9.0,60–74,11.501198
9850,7372519,274.0,54.5,Unknown,3.0,160691.03,6.0,9.0,45–59,11.987245
9852,3312433,262.0,47.5,Male,2.0,138196.50,6.0,9.0,45–59,11.836439
28907,8666599,226.0,36.5,Male,4.0,650895.74,6.0,9.0,30–44,13.386106
28905,965093,272.0,65.5,Unknown,2.0,271580.37,6.0,9.0,60–74,12.512017
28903,3836030,289.0,64.0,Female,4.0,250959.62,6.0,9.0,60–74,12.433051
28902,7768424,60.0,31.0,Male,3.0,46462.50,6.0,9.0,30–44,10.746422
28900,7755452,133.0,32.0,Female,3.0,95115.55,6.0,9.0,30–44,11.462858

In [43]:
df_perfil_clientes['calls_last_6_months'].isna().sum()

np.int64(14)

In [44]:
df_perfil_clientes.sort_values('calls_last_6_months').head(10)

,client_id,tenure_months,age_group,gender,num_accounts,balance,calls_last_6_months,logins_last_6_months,age_group,balance_log
45617,6525151,90.0,57.0,Unknown,2.0,27340.25,0.0,4.0,45–59,10.216152
8103,8905961,133.0,61.5,Male,2.0,518707.01,0.0,3.0,60–74,13.159096
8104,3910595,117.0,31.0,Unknown,2.0,33082.32,0.0,3.0,30–44,10.406785
50258,6141254,157.0,41.0,Male,2.0,161242.61,0.0,3.0,30–44,11.990672
20395,2565679,155.0,53.5,Female,2.0,36344.05,0.0,3.0,45–59,10.500813
33796,2443994,83.0,41.5,Unknown,2.0,27031.00,0.0,3.0,30–44,10.204777
8109,5617888,142.0,32.0,Male,2.0,42523.53,0.0,3.0,30–44,10.657836
20390,4062529,507.0,65.5,Female,2.0,38814.25,0.0,3.0,60–74,10.566568
50256,8664644,117.0,54.0,Female,2.0,62855.66,0.0,3.0,45–59,11.048612
8114,7913092,206.0,47.0,Male,2.0,68318.55,0.0,3.0,45–59,11.131951

In [45]:
df_perfil_clientes.sort_values('calls_last_6_months', ascending=False).head(10)

,client_id,tenure_months,age_group,gender,num_accounts,balance,calls_last_6_months,logins_last_6_months,age_group,balance_log
70608,5602139,254.0,59.5,Female,3.0,157498.73,7.0,7.0,45–59,11.967179
58430,2248172,85.0,20.0,Unknown,2.0,35677.55,7.0,7.0,18–29,10.482305
58356,906742,70.0,21.5,Unknown,3.0,40657.26,7.0,7.0,18–29,10.612957
58363,1336997,97.0,70.5,Unknown,2.0,175191.22,7.0,7.0,60–74,12.073639
58366,4925232,172.0,82.0,Female,3.0,454326.69,7.0,7.0,75+,13.026574
58372,5964126,258.0,55.0,Unknown,3.0,157251.56,7.0,7.0,45–59,11.965608
58376,674180,119.0,36.0,Male,2.0,146874.17,7.0,7.0,30–44,11.897338
58378,3318600,65.0,67.5,Unknown,3.0,28650.30,7.0,7.0,60–74,10.262954
58383,6951217,92.0,20.5,Unknown,3.0,35790.02,7.0,7.0,18–29,10.485452
58388,3168292,171.0,69.0,Male,2.0,82751.78,7.0,7.0,60–74,11.323613

In [46]:
df_perfil_clientes = df_perfil_clientes.rename(columns={
    'logins_last_6_months': 'logins_6m',
    'calls_last_6_months': 'calls_6m'
})
df_perfil_clientes.columns

Index(['client_id', 'tenure_months', 'age_group', 'gender', 'num_accounts',
       'balance', 'calls_6m', 'logins_6m', 'age_group', 'balance_log'],
      dtype='object')

In [47]:
df_perfil_clientes[['logins_6m', 'calls_6m']] = (
    df_perfil_clientes[['logins_6m', 'calls_6m']]
    .astype('Int64')
)
df_perfil_clientes.dtypes

client_id           int64
tenure_months     float64
age_group         float64
gender             object
num_accounts      float64
balance           float64
calls_6m            Int64
logins_6m           Int64
age_group        category
balance_log       float64
dtype: object

In [48]:
df_perfil_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   client_id      70609 non-null  int64
 1   tenure_months  70595 non-null  float64
 2   age_group      70220 non-null  float64
 3   gender         70609 non-null  object
 4   num_accounts   70595 non-null  float64
 5   balance        70595 non-null  float64
 6   calls_6m       70595 non-null  Int64
 7   logins_6m      70595 non-null  Int64
 8   age_group      70220 non-null  category
 9   balance_log    70595 non-null  float64
dtypes: Int64(2), category(1), float64(5), int64(1), object(1)
memory usage: 5.1+ MB

In [49]:
df_perfil_clientes = df_perfil_clientes.loc[:,~df_perfil_clientes.columns.duplicated()]

In [50]:
df_perfil_clientes['age_group'] = df_perfil_clientes['age_group'].astype('category')

In [51]:
df_perfil_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   client_id      70609 non-null  int64
 1   tenure_months  70595 non-null  float64
 2   age_group      70220 non-null  category
 3   gender         70609 non-null  object
 4   num_accounts   70595 non-null  float64
 5   balance        70595 non-null  float64
 6   calls_6m       70595 non-null  Int64
 7   logins_6m      70595 non-null  Int64
 8   balance_log    70595 non-null  float64
dtypes: Int64(2), category(1), float64(4), int64(1), object(1)
memory usage: 4.6+ MB

In [52]:
#Reorganizamos las columnas, según prioridad de análisis, colocando primero las variables demográficas, luego las variables de comportamiento y finalmente las variables financieras, para facilitar la interpretación y el análisis de los datos.

In [53]:
df_perfil_clientes = df_perfil_clientes[
    [
        'client_id',
        'age_group',
        'gender',
        'tenure_months',
        'num_accounts',
        'balance',
        'balance_log',
        'logins_6m',
        'calls_6m'
    ]
]

age_group: grupo de edad del cliente

gender: género normalizado

tenure_months: antigüedad del cliente en meses

num_accounts: número de cuentas activas

balance: saldo total del cliente

balance_log: saldo transformado logarítmicamente

logins_6m: número de logins en los últimos 6 meses

calls_6m: número de llamadas al soporte en los últimos 6 meses

## df_perfil_clientes – Estado final

Este dataframe contiene información demográfica y de comportamiento agregado de los clientes.
Las variables han sido limpiadas, tipadas y estandarizadas para su posterior integración con los
datasets de experimento y comportamiento web.

Clave de unión: `client_id`

In [54]:
df_perfil_clientes.to_csv("df_perfil_clientes_final.csv", index=False)